<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publisher_house.name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @publisher_house.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @publisher_house.updated_at %>
</p>

<%= link_to 'Edit', edit_publisher_house_path(@publisher_house) %> |
<%= link_to 'Back', publisher_houses_path %>
