<p id="notice"><%= notice %></p>
<div class="form" style="position: absolute;  top: 50%; left: 50%; width: 800px; height: 600px; margin-left: -220px; margin-top: -200px; font-size: 24px; color: gray; opacity: 0.8;">
<h1>Books</h1>

<table style="border: 1px solid black;">
  <thead>
    <tr style="border: 1px solid black">
      <th style="border: 1px solid black">Title</th>
      <th style="border: 1px solid black">Pages</th>
      <th style="border: 1px solid black">Cover</th>
      <th style="border: 1px solid black">Published at</th>
      <th style="border: 1px solid black"; colspan="3"></th>
    </tr>
  </thead>

  <tbody style="border: 1px solid black">
    <% @books.each do |book| %>
      <tr>
        <td style="border: 1px solid black"><%= book.title %></td>
        <td style="border: 1px solid black"><%= book.pages %></td>
        <td style="border: 1px solid black"><%= book.cover %></td>
        <td style="border: 1px solid black"><%= book.published_at %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>

<%= link_to 'Books info', 'Books_info.html' %>

<a href="Books_info.html">books info</a>
<%= link_to 'Click Here', "Books_info.html", data: {toggle: "modal", target: "#modal"} %>
</div>