<div class="form" style="position: absolute;  top: 50%; left: 50%; width: 800px; height: 600px; margin-left: -220px; margin-top: -200px; font-size: 24px; color: gray; opacity: 0.8;">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>First name:</strong>
	  <%= @author.first_name %>
	</p>

	<p>
	  <strong>Last name:</strong>
	  <%= @author.last_name %>
	</p>

	<p>
	  <strong>Birthdate:</strong>
	  <%= @author.birthdate %>
	</p>

	<%= link_to 'Edit', edit_author_path(@author) %> |
	<%= link_to 'Back', authors_path %>
</div>